{% extends "base.html" %}

{% block content %}
    <h1> Обо мне </h1>
    <p>Погружаю в сказку о городе с 2019 года...
    Меня зовут Дарья. Я Ваш экскурсовод. Приглашаю Вас отправиться в невероятное путешествие по блистательному
    Санкт-Петербургу. Мы увидим выдающиеся памятники архитектуры, места, где вершилась история нашей страны. Мы окунемся
    в просвещенный 18 век, романтическую эпоху 19 века, в революционный 20 век.</p>
{% endblock %}

{% block footer %}
    <!--Подвал-->
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Влюбляем в Петербург с 2019 года
    </div>
    <!-- Copyright -->
    <br>
</footer>
<!--Подвал end-->
{% endblock %}