{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-danger"> Страница не найдена </h1>
<h2 class="text-center">{{ title }}</h2>
<p>Страница не найдена. Начните с <a title="На главную" href="/">главной</a> и пользуйтесь меню</p>
{% endblock %}

{% block footer %}
<!--Подвал-->
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Влюбляем в Петербург с 2019 года
    </div>
    <!-- Copyright -->
    <br>
</footer>
<!--Подвал end-->
{% endblock %}